<div class="modal fade" id="submitNewIdea" tabindex="-1" role="dialog" aria-labelledby="submitNewIdea"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/new" method="POST" id="newForm">
          <input type="hidden" name="employee" value="<%= employee %>" >
          <div class="form-group">
            <label for="formGroupExampleInput">Title</label>
            <input type="text" name="topic" class="form-control" id="formGroupExampleInput" placeholder="title">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Description</label>
            <br>
            <textarea class="col-6" name="description" placeholder="Your Idea here"></textarea>
            
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" form="newForm" class="btn btn-primary">Submit Idea</button>
      </div>
    </div>
  </div>
</div>