<% include partials/header %>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="content">
					<h1>Brainstorm</h1>
					<h3>Everything begins with an idea!</h3>
					<hr>
					<a href="/signup" class="btn btn-lg btn-primary">Get Started!</a>
				</div>
			</div>		
		</div>
	</div>
<% include partials/footer %>